
{{#each data}}
<h1>{{this.name}}</h1>
<h1>{{this.eventName}}</h1>
    <h2> <small>{{this.description}}</small></h2>
    <p>when: {{this.date}}</p><br><br>
    <p>Time: {{this.time}}</p><br><br>
    <h3><a href="{{this.link}}">{{this.link}}</a></h3></li>
{{/each}}
